.deck {
  &.turntable_div {
    margin-bottom: 7%;
    margin-top: 10%;
  }

  &.grid_item_turntable_left {
    padding-left: 8%;
  }

  &.grid_item_turntable_right {
    padding-right: 8%;
  }

  &.select_button_left,
  &.select_button_right{
    position: absolute;
    width: 54px;
    height: 54px;
    min-width: 54px;
    min-height: 54px;
    border-radius: 50%;
    margin-top: -3%;
  }

  &.select_button_left {
    margin-left: 7%;
  }

  &.select_button_right {
    right: 0;
    margin-right: 11%;
  }
}
