.knob {
  &.arc_position {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  &.gauge_placeholder {
    opacity: 0.3;
  }

  &.title {
    margin-top: -12px;
    text-align: center;
    font-size: 16px;
  }
}
