.level_meter {
  &.root {
    width: 100%;
    height: 100%;
  }

  &.meter_container_left,
  &.meter_container_right {
    position: relative;
    width: 30%;
    height: 92%;
    border: solid;
    border-width: 1px;
  }

  &.meter_container_left {
    float: left;
    left: 30%;
  }

  &.meter_container_right {
    float: right;
    right: 30%;
  }

  &.meter {
    width: 52%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
  }
}