.level_meter {
  &.root {
    width: 100%;
    height: 100%;
    background-color: black;
  }

  &.meter_container_left,
  &.meter_container_right {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: white;
  }

  &.meter_container_left {
    float: left;
    left: 4%;
  }

  &.meter_container_right {
    float: right;
    right: 4%;
  }
}