@mixin thumb {
  cursor: pointer;
  position: relative;
  width: 10px;
  height: 50px;
  display: block;
  background-color: #76d58d;
  border-radius: 4px;
}

.mix_fader {
  &.bg,
  &.input-range[type="range"]{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
  }

  &.input-range[type="range"] {
    -webkit-appearance: none;
    background-color: #00000000;

    &:focus,
    &:active {
      outline: none;
    }

    &::-webkit-slider-thumb {
      @include thumb;
      -webkit-appearance: none;
      -webkit-border-radius: 4px;
    }

    &::-moz-range-track {
      opacity: 0;
    }

    &::-moz-range-thumb {
      @include thumb;
      border: none;
    }
  }
}
