.sound_library {
  &.header {
    display: inline-flex;
    width: 100%;
  }

  &.select_button_font {
    font-size: 28px;
  }

  &.close_button {
    margin-right: auto;
    margin-left: 3%;
    margin-top: 3%;
    min-width: 44px;
    min-height: 44px;
    width: 44px;
    height: 44px;
    border-radius: 8px;
  }

  &.upload_button {
    margin-right: 3%;
    margin-top: 3%;
  }

  &.song_list {
    position: absolute;
    background-color: #000000;
    width: 32%;
    z-index: 1;
    border: solid;
    border-width: 1px;
    border-radius: 3%;
  }
}
